/*******This is responsible for making sure the page split view works lol****/

.full-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: 100dvh;
    min-height: 100dvh;
    overflow-y: hidden;
}

@media screen and (max-width:875px){
    .full-container{
        display:flex;
        flex-direction: column;
        height: auto;
        min-height: auto;
        overflow-y: scroll;
    }


    .sidebar-container{
        display: none;
    }
}

