---
import { Image } from "astro:assets";

import '../styles/brightline.css';
/**************Image Imports */

import digitalcontentgif from '../assets/DigitalContent.gif';
import keyInitiatives from '../assets/Key Initiatives.png';

/****************END OF IMAGE IMPORTS */
---

<div class="hero-image">
    <img src={digitalcontentgif.src} width={digitalcontentgif.width*.5} height={digitalcontentgif.height*.5} style="max-width: 100%; width:50%; height: auto;"/>
</div>
<div class="casestudy-contentpadding">
<div class="casestudy-hero">
    <h2>Brightline Provider Experience</h2>
    <h4 style="color: #B8B8B8;">Enabling behavioral therapy through digital health tools</h4>
    <div class="casestudy-chiprow">
        <div id="dateChip" class="casestudy-chip">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none">
                <path d="M12.6667 12.668H3.33333V5.33464H12.6667M10.6667 0.667969V2.0013H5.33333V0.667969H4V2.0013H3.33333C2.59333 2.0013 2 2.59464 2 3.33464V12.668C2 13.0216 2.14048 13.3607 2.39052 13.6108C2.64057 13.8608 2.97971 14.0013 3.33333 14.0013H12.6667C13.0203 14.0013 13.3594 13.8608 13.6095 13.6108C13.8595 13.3607 14 13.0216 14 12.668V3.33464C14 2.98101 13.8595 2.64187 13.6095 2.39183C13.3594 2.14178 13.0203 2.0013 12.6667 2.0013H12V0.667969M11.3333 8.0013H8V11.3346H11.3333V8.0013Z" fill="#515155"/>
            </svg>
            <p class="chipText">Jun - Sep 2022</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">UX Design</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">Service Design</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">3 PM</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">5 Design</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">3 SWE</p>
        </div>
    </div>
    <p>I worked as a UX Design intern for Brightline’s Provider Experience team. As Brightline is a digital health startup providing behavioral health services for children and their families, most of my internship focused on designing tools for our care providers. 
        <br /><br />
        I was a key partner in the discovery and design of 2 care initiatives, focused on enabling our providers to efficiently deliver care. All of the showcased initiatives and their designs were shipped and positively received by our providers.</p>
</div>
<div id="keyIntiatives" class="casestudy-container">
    <div class="eightpxFlex">
    <h4>Key Intiatives</h4>
    <p>I was a key partner in the discovery and design of 2 care initiatives on the Provider Experience Team, focusing on providing tools to help prepare providers prepare for sessions.</p>
    </div>
    <img src={keyInitiatives.src} width={keyInitiatives.width} height={keyInitiatives.height} style="width: 50%; height: auto;" />
</div>